[Desktop Entry]
Type     = Application
Name     = Slack
Icon     = slack
Exec     = /bin/sh -c "docker run --rm -v /etc/localtime:/etc/localtime:ro -v slack:/home/slack -v /tmp/.X11-unix:/tmp/.X11-unix -v /run/user/$UID/pulse/native:/pulse -e XAUTHORITY=/tmp/Xauthority -e DISPLAY=unix$DISPLAY --name slack endophage/apps:slack"
Terminal = false

